*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     background-color: #212121;
     color: white;
 }
 .navigation{
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 100vw;
}

.navigation button{
    width: 8em;
    height: 3em;
 }
 h1{
    margin:0.2em 1em;
 }
 ul{
     list-style: none;
    }
    ul li{
        background-color: #eaeaea;
        margin: 1em;
        width: 80%;
        height: 5vh;
        border-radius:5px;
        padding: 0.5em 1em;
 }